[submodule "BrawlhallaSwz"]
	path = BrawlhallaSwz
	url = https://github.com/eyalzus12/BrawlhallaSwz.git
[submodule "BrawlhallaLangReader"]
	path = BrawlhallaLangReader
	url = https://github.com/eyalzus12/BrawlhallaLangReader.git
